<h2>Highest Rated Movies</h2>

<div class="form">
  <h4> All Categories </h4>
  <div class="form-font">
    <% @highest_rating.each do |f| %>
     <%= f.name %>
     <br>
    <% end %>
  </div>
  <br>
  <h4> Family </h4>
  <div class="form-font">
    <% @highest_rated_family.each do |f| %>
    <%= f.name %>
    <br>
    <% end %>
  </div>
  <br>
  <h4> Romantic Comedy </h4>
  <div class="form-font">
    <% @highest_rated_rom_com.each do |f| %>
    <%= f.name %>
    <br>
    <% end %>
  </div>
  <br>
  <h4> Drama </h4>
  <div class="form-font">
    <% @highest_rated_drama.each do |f| %>
    <%= f.name %>
    <br>
    <% end %>
  </div>
  <br>
  <h4> Action </h4>
  <div class="form-font">
    <% @highest_rated_action.each do |f| %>
    <%= f.name %>
    <br>
    <% end %>
  </div>
</div>
