<h2> Edit Bucket List </h2>

<div class="form">
  <%= form_for ([current_user, @bucket_list])do |f| %>
    <%= render 'bucket_lists/form', f: f %>
    <br>

  <h4> Check Off The Movies You Have Watched </h4>
    <div class="form-font">
    <% @bucket_list.inspect %>
    <% if @bucket_list.bucket_list_movies.present? %>
      <%= f.fields_for :bucket_list_movies do |b| %>
        <% movie= b.object.movie %>
        <%= movie.name %>
        | Seen?
        <%= b.check_box :seen %>
        <%= b.hidden_field :movie_id %>
        <%= b.hidden_field :id %>
        <br/>
      <% end %>
    <% else %>
      No Movies in this Bucket List yet
    <% end %>
  </div>
    <br/>
    <%= f.submit 'Update Bucket List', class:"btn btn-primary" %>
  <% end %>
</div>
