<h2><%= @bucket_list.name %></h2>

<div class="form">
<% @bucket_list.movies.each do |f| %>
  <div class="bucket-list-form-font-two">
  <%= f.name %>
  </div>
<% end %>
<br>
<%= link_to "Edit", edit_user_bucket_list_path(current_user, :id => @bucket_list.id), {:style=>'color:#39C69E; font-weight: bold;'} %>
<%= link_to "Load Comments", user_bucket_list_comments_path(current_user, :bucket_list_id => @bucket_list.id), :class => "load_comments" %>

<div class="comments">
  <ol>

  </ol>

</div>

<!-- <%= user_bucket_list_comments_path(current_user, :bucket_list_id => @bucket_list.id)%> -->
  <%= form_for(@comment, :url => user_bucket_list_comments_path(current_user, :bucket_list_id => @bucket_list.id)) do |f| %>
    <%= f.text_area :content %>
    <p><%= f.submit %></p>
  <% end %>

</div>
